<!DOCTYPE html>
<html>
<head>
    <!--Wix-->
    <script type="text/javascript" src="http://sslstatic.wix.com/services/js-sdk/1.24.0/js/Wix.js"></script>
    <!--jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--Utils-->
    <script src="utils.js"></script>
    <script src="fonts.js"></script>
    <script src="upload.js"></script>
    <script src="globals.js"></script>
    <!--CSS -->
    <link rel="stylesheet" type="text/css" href="widget.css">
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
    <script>

//        var SERVER_URL = 'http://84.109.234.163:3020';
        var SERVER_URL = 'http://localhost:3020';
        var loadedFonts = [];


        //		var instanceId = 'Local-InstnaceId-rotem931',
        //		    compId     = 'Local-compId3-rotem931';
        //        var instanceId = Wix.Utils.getInstanceId(),
        //                compId = Wix.Utils.getCompId();
        var instanceId = '<%= instanceId %>',
                compId = '<%= compId %>',
                ejs = true;

        function load(data) {

            var successFunc = function (data, status, jqXHR) {
                {
                    console.log('WIDGET: Loaded Data: ' + JSON.stringify(data));
//					refreshLocalWidget(data, $('#textBox'));
//					refreshLocalWidget(data, $('.redactor-editor'));
                    gotCode(data.p.code);
                    if (data.list)
                        $.each(data.list, function (i, font) {
                            var fontFamily = font.fileName.split('.')[0];
                            upload.loadUploadedFont(font.url, fontFamily, null, function () {
                                loadedFonts.push(fontFamily);
                            });
                        })
                }
            }
            if (ejs)
                successFunc(data)
            else
                $.ajax({
                    type   : "POST",
                    url    : SERVER_URL + "/load/",
                    data   : {
                        instanceId: instanceId,
                        compId    : compId
                    },
                    success: successFunc
                });
        }
        function killDups(obj) {
            if (Array.isArray(obj))
                obj = obj.filter(function (elem, pos) {
                    return obj.indexOf(elem) == pos;
                });
            else
                for (var prop in obj) {
                    obj[prop] = obj[prop].filter(function (elem, pos) {
                        return obj[prop].indexOf(elem) == pos;
                    });
                }
        }

        function gotCode(code, uploadedFonts) {

            $('#textBox').html(code);
            var fontObjArray = checkCodeForFonts($(code));
            killDups(fontObjArray);
            killDups(loadedFonts);
//
            if (!arraysEqual(loadedFonts, fontObjArray.fontsName)) {

//                loadedFonts = loadedFonts.concat(fontObjArray.fontsName);
                for (var i = 0; i < fontObjArray.fontsObj.length; i++) {
                    if (fontObjArray.fontsObj[i])
                        loadAllFontVariants(fontObjArray.fontsObj[i], null, null, function (family) {
                            loadedFonts.push(family)
                        }, null, fontObjArray.idx[i]);
                    else {
                        var font = getObj(uploadedFonts, fontObjArray.fontsName[i])[0];
                        upload.loadUploadedFont(font.url, font.family, null, function (family) {
                            loadedFonts.push(family);
                        });
                    }
                }
            }

        }

        Wix.addEventListener(Wix.Events.SETTINGS_UPDATED, function (newSettings) {
            console.log('Widget: New settings received: ' + JSON.stringify(newSettings));
            gotCode(newSettings.settings.code, newSettings.settings.uploadedFonts);
        });

        $(document).ready(function () {

            buildAllFontsArray();
            var data = JSON.parse('<%- data %>');
            data.p.code = $('#textBox').html();

            load(data);
        });
    </script>

</head>
<body id="widgetBody">
<div class='textBox' id='textBox'><%- code %></div>
</body>
</html>