
#textBox p
{
    margin : 0;
}

#widgetBody
{
    margin : 0;
}

#ribbon
{
    background      : url('./img/AnyFont-Ribbon-Right.png') no-repeat;
    background-size : contain;
    width           : 10%;
    float           : left;
    /* display: list-item; */
    min-height      : 80px;
}

body
{
    /* position: absolute; */
}

.textRibbon
{
}

#widget-container
{
    float : left;
    width : 100%;
}

#textBox
{
    float : left;
    /*width    : calc(100% - 57px);*/
    width : 90%;
}

@media all and (max-height : 200px)
{
    #ribbon
    {
        background      : url('./img/AnyFont-Ribbon-Straight.png') no-repeat;
        background-size : contain;
    }
}
