#textBox p
{
    margin : 0;
}

#ribbon
{
    background      : url('./img/AnyFont-Ribbon-Right.png') no-repeat;
    border          : 1px solid red;
    height          : 100%;
    background-size : contain;
    width           : 10%;
    position        : absolute;
    right           : 0;
}

body
{
    /* position: absolute; */
}

.textRibon
{
    position : absolute;
    width    : calc(100% - 57px);
}